<div
  class="md:flex flex-column bg-black text-white lg:px-36 px-4 py-10 lg:py-16 md:gap-12 lg:gap-20 border-t-8 border-yellow"
>
  <div class="flex-1 lg:w-1/4 lg:flex-auto">
    <img
      src="assets/images/logo-white.svg"
      alt="holdz logo"
      class="w-1/2 md:w-1/2 lg:w-2/3 cursor-pointer"
      routerLink="/home"
    />
  </div>
  <div class="mt-10 lg:mt-0 flex-1 lg:w-1/4 lg:flex-auto">
    <h5 class="text-lg font-bold text-white mb-4">Resourses</h5>
    <ul
      class="list-none text-gray-dark text-lg hover:[&>*]:text-gray [&>li]:mt-2"
    >
      <li><a routerLink="/stocks">Stocks & Funds</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a routerLink="/help">Help Center</a></li>
      <li><a href="#">Terms of Service</a></li>
    </ul>
  </div>
  <div class="mt-4 lg:mt-0 flex-1 lg:w-1/4 lg:flex-auto">
    <h5 class="text-lg font-bold text-white mb-4">Company</h5>
    <ul
      class="list-none text-gray-dark text-lg hover:[&>*]:text-gray [&>li]:mt-2"
    >
      <li><a routerLink="/about">About</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Teams</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="mt-4 lg:mt-0 flex-1 lg:w-1/4 lg:flex-auto lg:relative">
    <h5 class="text-lg font-bold text-white mb-6">Get Latest News</h5>
    <div class="relative">
      <input
        type="email"
        placeholder="example@email.com"
        class="w-full bg-black rounded-md ring-1 ring-yellow p-2"
      />
      <button
        class="absolute right-0 top-0 bg-yellow rounded-md p-2 text-black hover:bg-black hover:text-yellow ease-in-out transition-all duration-300"
      >
        <i class="w-6 pi pi-arrow-right"></i>
      </button>
    </div>
    <div class="flex gap-4 lg:absolute lg:bottom-0 mt-6 lg:mt-0">
      <a href="">
        <i class="pi pi-facebook hover:text-gray" style="font-size: 1.5rem"></i>
      </a>
      <a href="">
        <i class="pi pi-twitter hover:text-gray" style="font-size: 1.5rem"></i>
      </a>
      <a href="">
        <i
          class="pi pi-instagram hover:text-gray"
          style="font-size: 1.5rem"
        ></i>
      </a>
    </div>
  </div>
</div>
