<div
  class="flex-column items-center justify-center text-center w-full md:my-4 sm:max-w-md xl:p-0 mx-auto"
>
  <form class="px-4 py-6" #resetPasswordForm="ngForm" (ngSubmit)="onSubmit()">
    <h3 class="text-3xl font-display font-semibold mb-6">Reset Password</h3>
    <p class="font-sans text-lg mb-6">
      Please enter your email address to request a password reset.
    </p>
    <div class="formGroup mb-6">
      <input
        type="email"
        name="email"
        id="email"
        class="formControl bg-gray py-3 px-4 border border-gray-dark rounded w-full"
        placeholder="email@example.com"
        required
        [(ngModel)]="passwordResetEmail"
        #inputEmail="ngModel"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      />
      <div
        *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)"
        class="text-red text-sm font-medium mt-2 text-left"
      >
        <div *ngIf="inputEmail.errors.required">Email is required.</div>
        <div *ngIf="inputEmail.errors.pattern">
          Please enter a valid email address.
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="bg-black text-white font-bold py-3 px-4 w-full rounded hover:bg-gray-dark mb-6"
      [disabled]="!resetPasswordForm.form.valid"
      [ngClass]="{
        'bg-gray-dark': !resetPasswordForm.form.valid,
        'bg-black': resetPasswordForm.form.valid
      }"
    >
      Reset Password
    </button>
    <div class="redirectToLogin">
      <span
        >Go back to?
        <a class="font-semibold hover:underline" routerLink="/sign-in"
          >Log In</a
        ></span
      >
    </div>
  </form>
</div>
