<div class="bg-white mx-auto max-w-7xl px-2 py-2 sm:px-6 lg:py-8 lg:px-8">
  <div
    class="bg-yellow px-12 rounded-3xl flex-column md:flex items-center justify-center"
  >
    <div class="lg:flex-auto lg:w-1/2 flex-1 sm:pr-4 py-12">
      <h1
        class="text-4xl font-bold tracking-tight font-display text-black dark:text-white sm:text-8xl sm:py-4"
      >
        Invest in your future.
      </h1>
      <p
        class="text-2xl max-w-xl leading-8 lg:mt-8 mt-6 mb-8 lg:mb-12 sm:py-4 sm:pr-6"
      >
        Work with all the information and tools to boost money flow from your
        investments using Holdz!
      </p>
      <a
        class="bg-black text-white text-xl py-4 px-6 rounded-md"
        href="https://play.google.com/store/apps"
        target="_blank"
        rel="noopener noreferrer"
      >
        Get the App
      </a>
    </div>
    <div class="lg:flex-auto lg:w-1/2 flex-1 p-0">
      <img
        class="mx-auto lg:pt-12 pt-6 px-0 object-contain"
        src="assets/images/hero2.png"
        alt=""
      />
    </div>
  </div>
</div>
